<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240306423405-lgr9nnqf1e77cl344c8tpqvt675er4bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240306423405-lgr9nnqf1e77cl344c8tpqvt675er4bl</string>
	<key>API_KEY</key>
	<string>AIzaSyDjoaNXs6IyV7elQgZXJU7TSTx6uwdPmtI</string>
	<key>GCM_SENDER_ID</key>
	<string>240306423405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tractorpg.ojt-app</string>
	<key>PROJECT_ID</key>
	<string>ojtappl</string>
	<key>STORAGE_BUCKET</key>
	<string>ojtappl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240306423405:ios:2023751a726d77a63c2164</string>
	<key>DATABASE_URL</key>
	<string>https://ojtappl.firebaseio.com</string>
</dict>
</plist>